* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* VARIABLES */
  --background-color: #db6947c6;
  --recipe-color: #ffffff;
  --title-color: #1b1b1b;
  --footer-color: #422116c6;
  --text-alt: #39393a;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-color);
  max-height: 100vh;
  width: 100%;
}

/* SECTION HEADER **********/
h1 {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.25rem;
  color: var(--title-color);
  font-weight: 700;
}

img {
  width: 100%;
  height: 96px;
  object-fit: cover;
  border-radius: 0.625rem;
}

figcaption {
  text-align: end;
  font-size: 0.6rem;
  color: var(--footer-color);
}

/* CONTENT **********/
.container {
  width: 80%;
  height: 740px;
  margin: 1.5rem auto 1rem;
  background-color: var(--recipe-color);
  border-radius: 0.625rem;
  padding: 1rem;
}

.container .content {
  list-style-position: inside;
  text-align: justify;
}

.container .content ul li,
.container .content ol li,
.container .content p {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text-alt);
  list-style-position: inside;
  line-height: 1rem;
  text-align: justify;
}

h2 {
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-size: 1rem;
  color: var(--title-color);
  font-weight: 700;
}

/* FOOTER **********/
footer {
  text-align: center;
  font-size: 0.5rem;
  color: var(--footer-color);
}

footer p,
a {
  text-decoration: none;
  color: var(--footer-color);
}

a {
  cursor: pointer;
}

a:hover {
  filter: brightness(0.5);
}

/* MEDIA QUERIES **********/
@media (min-width: 720px) {
  h1 {
    font-size: 1.65rem;
  }

  img {
    height: 200px;
  }

  figcaption {
    font-size: 0.8rem;
  }

  .container {
    width: 90%;
    height: 900px;
    margin: 1.5rem auto 1.5rem;
    padding: 1.5rem;
  }

  .container .content ul li,
  .container .content ol li,
  .container .content p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
  }

  h2 {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  footer {
    font-size: 0.8rem;
    color: var(--footer-color);
  }

  footer p,
  a {
    margin-top: 2.5rem;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 680px;
  }
}
